# #Temp removals
# /.metadata/
 .gitignore
# .settings/
# bin/
# tmp/
# .metadata
# .classpath
# .project
# *.tmp
# *.bak
# *.swp
# *~.nib
# local.properties
# .loadpath
# .factorypath

# # Package Files #
# *.jar
# *.war
# *.ear